@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(180deg, #10002b, #5a189a);
}

body .header{
    color: white;
}

.top-part {
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display {
    color: white;
    font-size: larger;
}

.board {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.tile {
    border: 2px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.tile:hover {
    background-color: purple;
  }

.playerX {
    color: #ff0fcb;
    stroke-width: 20px;
}

.playerO {
    color: #498AFB;
}

.announcer {
    margin-top: 15px;
}

.hide {
  display: none;
}

